[Desktop Entry]
Name=Basilisk
GenericName=Basilisk
Exec=~/basilisk/basilisk
Terminal=false
Icon=~/basilisk/browser/icons/mozicon128.png
Type=Application
Categories=Application;Network;Internet;WebBrowser;
Comment=Browse The World Wide Web
